.song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-container > label{
  color: #496D96;
}

.song-container > img {
  width: 12rem;
  height: 12rem;
  border-radius: 8px;
}

.song-container > img:hover {
  transform: scale(1.05);  
  cursor: pointer;
}
